<link rel="stylesheet" type="text/css" href="/styles/gallery.css">
<script>
	function viewGallery(galleryID){
		jQuery.post("/gallery/"+galleryID,function(data){
			var galleryData = JSON.parse(data);
			if(galleryData.length){
				galleryData = galleryData[0];
			}
			var sourceDiv = jQuery(".galleryContainer .photoContainer[data-galleryid='"+galleryID+"']");
			var left = sourceDiv.css("left");
			var top = sourceDiv.css("top");
			jQuery(".galleryContainer .gallery").html("");
			for(i=0;i<galleryData.photos.length;i++){
				jQuery(".galleryContainer .gallery").append('<div rel="gallery" class="photoContainer" style="opacity:0;left:'+left+';top:'+top+'" data-photo="'+galleryData.photos[i].large.url+'"><img src="'+galleryData.photos[i].small+'">');
			}
			jQuery(".galleryContainer .home").hide();
			jQuery(".backToHome").fadeIn();
			jQuery(".galleryContainer .gallery").show();
			animatePhotos();
		});
	}
	function viewPhoto(index){
		var photos = [];
		jQuery(".galleryContainer .gallery .photoContainer").each(function(index,item){
			photos.push({
				'href':jQuery(item).data("photo"),
				'title':'<a style="color:white" target="_blank" href="'+jQuery(item).data("photo")+'">Download</a> '
			});
		});
		jQuery.fancybox(photos,{
			'orig'          : jQuery(".galleryContainer div:visible .photoContainer:nth-child("+(index+1)+")")[0],
			'transitionIn'  : 'elastic',
			'transitionOut' : 'elastic',
			'padding'       : 5,
			'index'         : index,
			'type'          : "image",
			'titlePosition' : 'over',
			onStart: function(selectedArray, selectedIndex, selectedOptions){
				return {
					orig: jQuery(".galleryContainer div:visible .photoContainer:nth-child("+(selectedIndex+1)+")")[0]
				}
			}
		});
	}
	function viewOriginal(){
		jQuery(".galleryContainer .home .photoContainer").css("left","0");
		jQuery(".galleryContainer .home .photoContainer").css("top","0");
		jQuery(".galleryContainer .home .photoContainer").css("opacity","0");
		jQuery(".galleryContainer .home .caption").css("opacity","0");
		jQuery(".galleryContainer .home").show();
		jQuery(".backToHome").fadeOut();
		jQuery(".galleryContainer .gallery").hide();
		animatePhotos();
	}
	jQuery(document).ready(function(){
		viewOriginal();
		jQuery(".galleryContainer").delegate(".photoContainer","click",handlePhotoClick);
		jQuery(".backToHome").click(viewOriginal);
	});
	function animatePhotos(){
		var currentRow = 0;
		var currentRowItem = -1;
		var itemHeight = 150;
		var itemWidth = 150;
		jQuery(".galleryContainer div:visible .photoContainer").each(function(index,item){
			currentRowItem++;
			if(currentRowItem > 4){
				currentRow++;
				currentRowItem = 0;
			}
			var captions = jQuery(item).children(".caption");
			jQuery(item).animate({
				left:(currentRowItem*itemWidth),
				top:(currentRow*itemHeight),
				opacity:1
			},1*1000,function(){
				if(captions.length){
					jQuery(captions).css('opacity',0);
					jQuery(captions).animate({
						opacity:1
					},1000);
				}
			});
		});
		jQuery(".galleryContainer").animate({
			height:(currentRow+1)*itemHeight+30
		},1000);
	}
	function handlePhotoClick(evt){
		var galleryID = jQuery(evt.currentTarget).data("galleryid");
		if(typeof galleryID == "undefined"){
			viewPhoto(jQuery(".galleryContainer .gallery .photoContainer").index(evt.currentTarget));
		}else{
			viewGallery(galleryID);
		}
	}
</script>
<div class="backToHome" style="display:none">
	Back
</div>
<div class="galleryContainer">
	<div class="home">
		<% for(var i=0; i<galleries.length; i++) {%>
			<% if(galleries[i].coverPhoto.length){%>
				<div class="photoContainer" data-galleryID="<%=galleries[i].id%>" style="opacity:0">
					<img src="<%= galleries[i].coverPhoto[0].small%>">
					<div class="caption" style="opacity:0">
						<%=galleries[i].name%>
					</div>
				</div>
			<% }%>
		<% }%>
	</div>
	<div class="gallery" style="display:none">

	</div>
	<div class="clear"></div>
</div>
<br/>
<a href="https://github.com/Myztiq/fbGallery">Fork me on Github</a>