.galleryContainer
	background-color #E0E0E0
	border 10px solid #E0E0E0
	border-radius 10px
	position relative
	min-height 150px
	.photoContainer
		width 150px
		position absolute
		margin 10px
		img
			margin 0 auto 0 auto
			display block
			border 5px solid white
			border-radius 4px
			vertical-align middle
		.caption
			text-align center
.backToHome
	background-color #8A8A8A
	border 5px solid #8A8A8A
	border-radius 5px
	position absolute
	top -15px
	left -22px
	z-index 1